@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('/fonts/Proxima-Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('/fonts/Proxima-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('/fonts/Proxima-Medium.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('/fonts/Proxima-SemiBold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('/fonts/Proxima-Bold.otf');
}

body {
  margin: 0;
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: #e1b2a6;
  font-family: 'Proxima Nova';
}
.title {
  margin: 0;
  width: 100%;
  margin-top: 15px;
  line-height: 1.15;
  font-size: 48px;
  color: #fff;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 16px;
}
